.container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/Background.png');
  background-repeat: no-repeat;
  background-position: bottom;
  height: 920px;

  span {
    font-size: 16px;
    margin-bottom: 38px;

    &:first-child {
      font-family: Raleway, sans-serif;
      font-size: 49px;
      margin-top: 200px;
      margin-bottom: 20px;
    }
  }

  button {
    width: 440px;
    height: 67px;
    background: rgba(8, 166, 228, 1);
    border-radius: 30px;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
    color: white;
  }
}